name: Build and release

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Install build dependencies
      run: |
        sudo apt-mark hold firefox
        sudo apt-get update && sudo apt-get upgrade
        sudo apt-get install --assume-yes gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi libcrypto++-dev libgnutls28-dev uuid-dev

    - name: Download source code
      run: |
        git clone https://github.com/kgmt0/ebu-bootloader.git .
        git checkout ${GITHUB_REF_NAME}
        git submodule sync
        git -c protocol.version=2 submodule update --init --force --depth=1

    - name: Build
      run: make CLOCKSPRESET=CPU_1000_DDR_800 UBOOT_CONFIG=mvebu_espressobin-88f3720_defconfig

    - name: Save image to artifacts
      uses: actions/upload-artifact@v4
      with:
        path: trusted-firmware-a/build/a3700/release/flash-image.bin

    - name: Create release
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sha256sum $GITHUB_WORKSPACE/trusted-firmware-a/build/a3700/release/flash-image.bin | head --bytes=64 > sha256sum.txt
        gh release create ${{ github.ref_name }} \
            --generate-notes \
            $GITHUB_WORKSPACE/trusted-firmware-a/build/a3700/release/flash-image.bin \
            sha256sum.txt
